html, body {
  height: auto;
  min-height: 100%;
  margin: 0;
  overflow-x: hidden;
  font-family: "Muli";
}

h1 {
  margin: 20px 0 0 40px;
  font-weight: 300;
  text-align: left !important;
  font-size: 3em;
}

#home {
  position: relative;
}

.navbar {
  border:none !important;

  font-family: "Muli";
}

.navbar-brand {
  font-weight: 900;
  font-size: 30px !important;
  color: white;
  margin-left: 20px;
}

.navbar-nav > a {
  color: rgb(172, 248, 255);
  margin: 0 10px 0 10px;
  font-size: 18px;
}

.joti-brand {
  width: 40%;
  height: 40%;
}

.jumbotron {
  background-image: url("../images/joti-hero.jpg");
  height: 100vh;
  width: 100%;
  overflow:hidden;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.joti-hero-text {
  text-align: center;
}

.joti-hero-text img {
  width: 85%;
  height: 85%;
}

/*.enlightened_development {
  font-size: 30px;
  font-weight: 100;
  font-family: "Muli";
  color: rgb(172, 248, 255);
  line-height: 1.2;
  text-align: center;
  letter-spacing: 3px;
}*/

a i {
  background-color: #FAE2AB !important;
  border-radius: 50%;
  color: rgb(172, 248, 255);
}

/*   WHAT WE DO   */
#what-we-do {
  height: auto;
  min-height: 300px;
  margin-bottom: 50px;
}

.what-section {
  margin: 30px 20px;
}

.pride-section {
  margin-top: 60px;
}

/*   CLIENTS   */
#clients {
  position: relative;
}

.img-fluid {
  border: solid black 1px;
  margin: 20px 0 20px 0;
}

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);*/

}

.hovereffect img.img-fluid.light-blue:after {
  background-color: rgb(172, 248, 255);
  opacity: .5;
}

.hovereffect h2 {
  margin-top: 35%;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  background-color: transparent;
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}

.hovereffect a, .hovereffect p {
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
  opacity: 1;
  text-decoration: none;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

/*   TEAM   */
#our-team {
  position: relative;
  margin: 100px 0 400px 0;
}

.img-circle {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border: solid black 1px;
  margin-left: 40px;
}

.team-section {
  background-image: url('../images/ocean.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.team {
  padding: 20px;
  margin-left: 40px;
}

.team img {
  float:left;
  margin: 40px 40px 40px 80px;
}

.team-text {
  margin-top: 50px !important;
  color: white;
  overflow: hidden;
}

/*CONTACT*/
#contact {
  position: relative;
}
